/* Réinitialisation des styles par défaut */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles généraux */
body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

section {
  padding: 50px;
}

.text-container {
  margin-top: 20px;
  text-align: center;
}

/* Styles du slider */
.slider-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 300%; /* Permet d'afficher une seule image à la fois */
  animation: slide 10s infinite;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Animation du slider */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  33.33% {
    transform: translateX(-100%);
  }
  66.66% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}