.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.photo {
  flex: 0 0 calc(33.333% - 20px); /* Réglage pour affichage en 3 colonnes, ajustez selon vos besoins */
  max-width: calc(33.333% - 20px); /* Réglage pour affichage en 3 colonnes, ajustez selon vos besoins */
}

@media (max-width: 768px) {
  .photo {
    flex: 0 0 calc(50% - 20px); /* En 2 colonnes pour les écrans plus petits */
    max-width: calc(50% - 20px); /* En 2 colonnes pour les écrans plus petits */
  }
}

@media (max-width: 480px) {
  .photo {
    flex: 0 0 100%; /* Pleine largeur pour les mobiles */
    max-width: 100%; /* Pleine largeur pour les mobiles */
  }
}

/* Styles pour rendre les images réactives avec une ombre portée et une présentation agréable */

.photo-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.photo-images img {
  max-width: 100%; /* Assurez-vous que les images restent dans les limites du contenant */
  height: auto; /* Permet à la hauteur de s'ajuster automatiquement en fonction de la largeur */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Ajoute une douce ombre portée aux images */
  transition: transform 0.2s ease; /* Ajoute une légère transition au survol */
}

/* Effet lorsque l'utilisateur survole les images */
.photo-images img:hover {
  transform: scale(1.05); /* Légère agrandissement au survol */
}

/* Si vous souhaitez un effet d'ombre portée plus prononcé ou d'autres styles spécifiques, vous pouvez ajuster les valeurs ci-dessus selon vos préférences. */









#data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#data-table th, #data-table td {
  border: 1px solid #dddddd;
  padding: 8px;
}

#pagination {
  margin-top: 10px;
  text-align: center;
}

#pagination button {
  margin: 0 5px;
  padding: 8px 16px;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  cursor: pointer;
}























.slider1{
  width: 40%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  text-align: right;
  position: absolute;
  left: 60%;
  top: 100px;

}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide1{
  width: 20%;
  transition: 2s;
}

.slide1 img{
  width:100%;
  height: 100%;
}

.navigation-mannual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.mannual-btn{
  border: 2px solid #ccc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.mannual-btn:not(:last-child){
  margin-right: 40px;
}

.mannual-btn:hover{
  background-color: #ccc;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/* Automatic Navigation */
.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #333;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~.navigation-auto .auto-btn-1{
  background: #ccc;
}

#radio2:checked ~.navigation-auto .auto-btn-2{
  background: #ccc;
}


#radio3:checked ~.navigation-auto .auto-btn-3{
  background: #ccc;
}

#radio4:checked ~.navigation-auto .auto-btn-4{
  background: #ccc;
}

















