/* Styles pour les sous-menus */
.nav li ul.sub-menu {
    display: none; /* Masque les sous-menus par défaut */
    position: absolute;
    background-color: #ffff; /* Couleur de fond du sous-menu (blanc) */
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Ombre du sous-menu */
    border-radius: 5px; /* Bordures arrondies */
    z-index: 1000; /* Ajuste la position du sous-menu sur les autres éléments */
}

.nav li:hover > ul.sub-menu {
    display: block; /* Affiche le sous-menu au survol */
}

.nav li ul.sub-menu li {
    margin: 5px 0; /* Espacement entre les éléments de la sous-liste */
}

.nav li ul.sub-menu li a {
    color: #66ff66; /* Couleur du texte de la sous-liste (vert clair) */
    text-decoration: none;
    border-radius: 5px; /* Bordures arrondies */
}

.nav li ul.sub-menu li a:hover {
    background-color:#0005; /* Couleur de fond de la sous-liste au survol (vert clair) */
    color: #ffffff; /* Couleur du texte de la sous-liste au survol (blanc) */
}






table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:nth-child(odd) {
  background-color: #ececec;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  th, td {
    display: inline-block;
    border: none;
    vertical-align: top;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
}









/* Styles pour la flèche de déroulement */
.nav li:has(ul.sub-menu) > a::after {
    content: "\25BE"; /* Utilise une flèche vers le bas comme indicateur */
    display: inline-block;
    margin-left: 5px;
    color: #66ff66; /* Couleur de la flèche (vert clair) */
}

/* Ajustement de la position des sous-menus sur les appareils mobiles */
@media (max-width: 768px) {
    .nav li ul.sub-menu {
        position: static;
        box-shadow: none;
        border-radius: 0;
    }

    .nav li ul.sub-menu li {
        margin: 10px 0;
    }

    .nav li ul.sub-menu li a {
        display: block;
        padding: 5px;
    }

    .nav li ul.sub-menu li a:hover {
        background-color: transparent;
        color: #66ff66;
    }

    .nav li:has(ul.sub-menu) > a::after {
        display: none;
    }
}






.slider2{
  width: 40%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  text-align: right;
  position: absolute;

  top: 100px;

}

.slides2{
  width: 500px;
  height: 500px;
  display: flex;
}

.slide2 input{
  display: none;
}

.slide2{
  width: 20%;
  transition: 2s;
}

.slide2 img{
  width: 800px;
  height: 500px;
}

.navigation-mannual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.mannual-btn{
  border: 2px solid #ccc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.mannual-btn:not(:last-child){
  margin-right: 40px;
}

.mannual-btn:hover{
  background-color: #ccc;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/* Automatic Navigation */
.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #333;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~.navigation-auto .auto-btn-1{
  background: #ccc;
}

#radio2:checked ~.navigation-auto .auto-btn-2{
  background: #ccc;
}


#radio3:checked ~.navigation-auto .auto-btn-3{
  background: #ccc;
}

#radio4:checked ~.navigation-auto .auto-btn-4{
  background: #ccc;
}





