/* Styles pour les sous-menus */
.nav li ul.sub-menu {
    display: none; /* Masque les sous-menus par défaut */
    position: absolute;
    background-color: #ffffff; /* Couleur de fond du sous-menu (blanc) */
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Ombre du sous-menu */
    border-radius: 5px; /* Bordures arrondies */
    z-index: 1000; /* Ajuste la position du sous-menu sur les autres éléments */
}

.nav li:hover > ul.sub-menu {
    display: block; /* Affiche le sous-menu au survol */
}

.nav li ul.sub-menu li {
    margin: 5px 0; /* Espacement entre les éléments de la sous-liste */
}

.nav li ul.sub-menu li a {
    color: #66ff66; /* Couleur du texte de la sous-liste (vert clair) */
    text-decoration: none;
    border-radius: 5px; /* Bordures arrondies */
}

.nav li ul.sub-menu li a:hover {
    background-color: #66ff66; /* Couleur de fond de la sous-liste au survol (vert clair) */
    color: #ffffff; /* Couleur du texte de la sous-liste au survol (blanc) */
}













/* Styles pour la flèche de déroulement */
.nav li:has(ul.sub-menu) > a::after {
    content: "\25BE"; /* Utilise une flèche vers le bas comme indicateur */
    display: inline-block;
    margin-left: 5px;
    color: #66ff66; /* Couleur de la flèche (vert clair) */
}

/* Ajustement de la position des sous-menus sur les appareils mobiles */
@media (max-width: 768px) {
    .nav li ul.sub-menu {
        position: static;
        box-shadow: none;
        border-radius: 0;
    }

    .nav li ul.sub-menu li {
        margin: 10px 0;
    }

    .nav li ul.sub-menu li a {
        display: block;
        padding: 5px;
    }

    .nav li ul.sub-menu li a:hover {
        background-color: transparent;
        color: #66ff66;
    }

    .nav li:has(ul.sub-menu) > a::after {
        display: none;
    }
}






.a-la-une-container {
  margin-top: 40px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.grid-item {
  flex: 0 0 400px;
  padding: 20px;
  background-color: #f2f2f2;
}

.a-la-une-item {
  text-align: center;
}

.a-la-une-item img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}

.a-la-une-item h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}

.a-la-une-item p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.lire-plus {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.lire-plus:hover {
  text-decoration: underline;
}

.contenu-complet {
  display: none;
}

.category1 {
  background-color: #e6e6e6;
}




.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.departments {
  width: 100%;
  border-collapse: collapse;
}

.departments th, .departments td {
  padding: 10px;